export("%>%")
export(add)
export(and)
export(divide_by)
export(divide_by_int)
export(equals)
export(extract)
export(extract2)
export(is_greater_than)
export(is_less_than)
export(is_weakly_greater_than)
export(is_weakly_less_than)
export(lambda)
export(mod)
export(multiply_by)
export(multiply_by_matrix)
export(or)
export(raise_to_power)
export(subtract)
export(use_series)
